body {
    text-align: center;
}

main {
    width: 90%;
    height: 50%;
    margin: auto;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
}

#imageEpisode {
    flex: 30%;
    width: 100%;
    box-shadow: #000000b8 -8px 8px 20px 0px;
}

#page {
    padding: 1%;
    width: 80%;
    height: 70%;
    background-image: linear-gradient(to right bottom, #ffed00, #ffcf00, #ffb100, #ff930f, #fb7523, #ff6f4d, #ff6e6f, #ff748c, #fd9ac1, #f5bfe6, #f2e1fa, #ffffff);
    box-shadow: #00000042 0px 0px 15px 7px;
    margin: auto;
    border-radius: 60px;
}

#infos {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    flex: 45%;
    height: 90%;
    padding: 0% 2%;
    font-size: 300%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    box-shadow: 7px 7px 0px black;
    text-shadow: #0000008f 8px 2px 10px;
}

#episode, #saison {
    font-size: 50%;
}

h2+div {
    width: 95%;
    max-height: 37%;
    height:auto;
    margin: auto;
    border: 2px solid black;
    background-color: #0000006b;
    overflow-y: scroll;
}

h1 {
    font-size: 100%;
}

h2 {
    font-size: 150%;
    font-weight: normal;
}

a div {
    
    text-shadow: -7px 7px 0px #00000045;
    text-align: left;
    font-size: 200%;
}

a[href="personnage.html"] img {
    vertical-align: middle;
    margin-right: 3vw;
    width: 12%;
}

::-webkit-scrollbar-track {
    background: #00000096;
}

@media (max-width:900px) {
    main {
        flex-flow: column;
    }
    #imageEpisode {
        max-width: 50%;
    }
}

@media (max-width:900px) {
    main {
        flex-flow: column;
    }
    #imageEpisode {
        max-width: 50%;
    }
}

@media(max-width:600px) {
    #listePersonnages img {
        width:20%;
    }

    #listePersonnages {
        font-size: 80%;
    }
}

@media (max-width:650px) {
    #imageEpisode {
        max-width: 70%;
    }
}

@media (max-width:400px) {
    #imageEpisode {
        max-width: 100%;
        border-radius: 50px;
    }
}