body {
    text-align: center;
}

main {
    width: 90%;
    height: 50%;
    margin: auto;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
}

#imageEpisode {
    flex: 30%;
    width: 100%;
    box-shadow: #000000b8 8px 8px 20px 0px;
}

#page {
    padding: 1%;
    width: 80%;
    height: 70%;
    background-image: linear-gradient(to right bottom, #ffed00, #ffcf00, #ffb100, #ff930f, #fb7523, #ff6f4d, #ff6e6f, #ff748c, #fd9ac1, #f5bfe6, #f2e1fa, #ffffff);
    box-shadow: #00000042 0px 0px 15px 7px;
    margin: auto;
    border-radius: 60px;
}

#infos {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    flex: 50%;
    height: 90%;
    font-size: 300%;
}

#episode, #saison {
    font-size: 50%;
}

fieldset {
    width: 95%;
    height: 40%;
    margin: auto;
    border: 2px solid black;
}

fieldset div {
    overflow-y: scroll;
}

legend {
    font-size: 150%;
}

@media (max-width:900px) {
    main {
        flex-flow: column;
    }
    #imageEpisode {
        max-width: 50%;
    }
}

@media (max-width:900px) {
    main {
        flex-flow: column;
    }
    #imageEpisode {
        max-width: 50%;
    }
}

@media (max-width:650px) {
    #imageEpisode {
        max-width: 70%;
    }
}

@media (max-width:400px) {
    #imageEpisode {
        max-width: 100%;
        border-radius: 50px;
    }
}