#divPrincipal {
    width: 52%;
    height: 70%;
    overflow-y: scroll;
    margin: auto;
    background-image: linear-gradient(to right bottom, #ffed00, #ffcf00, #ffb100, #ff930f, #fb7523, #ff6f4d, #ff6e6f, #ff748c, #fd9ac1, #f5bfe6, #f2e1fa, #ffffff);
    box-shadow: #00000042 0px 0px 15px 7px;
    border-radius: 8% 0px 0px 8%;
    padding: 2vh 1.5vw 2vh 1.5vw;
}

#divHaut {
    width: 100%;
    height: 70%;
    margin-bottom: 2vh;
}

#divImg {
    width: 30%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
}

#divImg img {
    width: 100%;
    border-radius: 100%
}

#partieDroite {
    float: right;
    width: 65%;
}

#divNom {
    width: 98%;
    display:flex;
    align-items:center;
    /* height: 5vh; */
    /* float: right; */
    margin:auto;
    background-color: grey;
    /* margin-top: 2vh; */
    /* margin-right: 10px; */
    padding: 2% 1%;
    border-style: solid;
}

#nom, #prenom, #nomHero {
    /* display: inline-block; */
    text-align: center;
    /* margin-left: 4.5vw; */
    /* margin-top: 1vh; */
    /* width: 30%; */
    flex:33%;
    font-size: 150%;
    /* vertical-align: middle; */
}

#bio {
    width: 80%;
    height: 30vh;
    margin:auto;
    margin-top: 3vh;
    /* margin-right: 10px; */
    /* float: right; */
    border-style: solid;
}

#age, #alter, #fonction {
    margin-top: 4vh;
    margin-left: 2vw;
}

#histoire {
    height: 30vh;
    width: 80%;
    margin: auto;
    border-style: solid;
    padding: 1%;
}

#apparition {
    width: 80%;
    margin: auto;
    margin-top: 2vh;
}

fieldset {
    padding: 2%;
}

@media (max-width:1000px) {
    #divPrincipal {
        width: 90%;
    }
}

@media (max-width:650px) {
    #divNom {
        flex-flow:column;
    }
}