body {
    width: fit-content;
    margin: auto;
}

header {
    text-align: center;
    width: 60vw;
    font-size: 200%;
}

#divPrincipal {
    width: 60vw;
}

#divNom {
    width: 30vw;
    height: 5vh;
    float: right;
    background-color: grey;
    margin-top: 2vh;
    margin-right: 10px;
    border-style: solid;
}

#nom, #prenom, #nomHero {
    display: inline-block;
    text-align: center;
    margin-left: 4.5vw;
    margin-top: 1vh;
    font-size: 150%;
}

#bio {
    width: 30vw;
    height: 30vh;
    margin-top: 3vh;
    margin-right: 10px;
    float: right;
    border-style: solid;
}


#age, #alter, #fonction {
    margin-top: 4vh;
    margin-left: 2vw;
}

#histoire {
    height: 30vh;
    width: 45vw;
    margin-left: 7vw;
    margin-top: 2vh;
    float: left;
    border-style: solid;
}

#apparition {
    width: 40vw;
    float: left;
    margin-left: 10vw;
    margin-top: 2vh;
}