#divPrincipal {
    width: 60%;
    height: 70%;

    padding: 2vh 1.5vw 2vh 1.5vw;
    margin: auto;

    overflow-y: scroll;
    
    background-image: linear-gradient(to right bottom, #ffed00, #ffcf00, #ffb100, #ff930f, #fb7523, #ff6f4d, #ff6e6f, #ff748c, #fd9ac1, #f5bfe6, #f2e1fa, #ffffff);
    box-shadow: #00000042 0px 0px 15px 7px;
    border-radius: 8% 0px 0px 8%;
}

#divHaut {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 50%;

    margin: auto;
    padding: 0% 3% 0 3%;
}

#divImg {
    flex: 30%;
    max-width: 30%;
}

#divImg img {
    width: 100%;
    border-radius: 100%
}

#partieDroite {
    flex: 65%;
    max-width: 65%;
}

#divNom {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;

    width: 95%;
    padding: 2% 1%;
    margin: auto;
    
    border: 5px solid black;
    background: #fffffffa;
    text-shadow: -7px 7px 0px #00000045;
    border-radius: 50px 0px 0px 50px;
}

#nom, #prenom, #nomHero {
    flex: 33%;

    text-align: center;
    font-size: 170%;
}

#bio {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    float: right;

    width: 50%;
    height: 30vh;

    padding: 1%;

    text-align: center;
}

#histoire {
    height: 30vh;
    width: 80%;

    margin: auto;
    margin-top: 2vh;
    padding: 1% 2%;
    
    border-style: solid;
}

#apparition {
    width: 80%;

    margin: auto;
    margin-top: 2vh;
}

#bio, fieldset {
    border: 3px black solid;
    background-color: #ffffff3b;
}

fieldset {
    padding: 2%;
}

legend, #bio {
    font-size: 150%;
} 

fieldset div {
    font-size:130%;
}

@media (max-width:1000px) {
    #divPrincipal {
        width: 90%;
    }
}

@media (max-width:650px) {
    #divNom {
        flex-flow: column;
    }

    #divHaut {
        width: 90%;
        padding: 0%;
    }

    #divImg {
        flex: 40%;
        max-width: 40%;
    }
}