@font-face {
    font-family: 'Mha';
    font-style: normal;
    font-weight: normal;
    src: local('Mha'), url('../Resources/Font/mhaFont.woff') format('woff');
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    font-family: "Mha";
    background-image: linear-gradient(to right bottom, #ffed00, #ffcf00, #ffb100, #ff930f, #fb7523, #ff6f4d, #ff6e6f, #ff748c, #fd9ac1, #f5bfe6, #f2e1fa, #ffffff);
}

header {
    margin-top: 2%;
    font-size: 50pt;
}

main {
    width: 50vw;
    height: 100vh;
    display: inline-block;
}

aside {
    display: inline-block;
    width: 20vw;
}

#divRecherche img {
    vertical-align: bottom;
    width: 4%;
    height: 8%;
}

#gauche {
    border-right: 3px solid black;
    float: left;
}

#droite {
    border-left: 3px solid black;
    float: right;
}

#page {
    margin-top: 3%;
}

#barreRecherche {
    margin-top: 3%;
    text-align: center;
    font-size: large;
    font-family: "Mha";
    width: 20vw;
    height: 4vh;
}