/*
// Projet    :   My Hero Academia
// Auteur    :   Juliano Souza Luz,Ludovic Roux
// Desc.     :   CSS de la page pour rechercher
// Version   :   1.0, 27.05.2020, JSL, LR, version initiale
*/

body {
    text-align: center;
}

#divRecherche img {
    vertical-align: bottom;
    width: 4%;
}

#aileGauche {
    transform: translateX(2.5vw);
}

#barreRecherche {
    text-align: center;
    font-size: larger;
    font-family: "Mha";
    width: 20vw;
    height: 4vh;
    transition: width 1s;
    box-shadow: #0000004a 0px 3px 14px 4px;
}

input#barreRecherche:hover {
    width: 50%;
    transition: width 1s;
}

#aileDroite {
    transform: translateX(-2.5vw);
}

#page {
    padding-top: 3%;
    height: 50%;
    display: flex;
}

#gauche {
    border-right: 3px solid black;
    margin-left: 1%;
}

.tri li {
    padding-left: 16%;
}

.filtre li {
    padding-right: 16%;
}

li:hover {
    background-color: #00000038;
}

main {
    flex: 60%;
    height: 100%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

#listePersonnages {
    background-color: #0000006b;
    overflow-y: scroll;
    height: 100%;
    box-shadow: #0000004a 0px 3px 14px 4px;
    text-shadow: -7px 7px 0px #00000045;
}

#listePersonnages div {
    text-align: left;
    font-size: 200%;
    height: 20%;
}

#listePersonnages div img {
    vertical-align: middle;
    margin-right: 8vw;
    height: 100%;
}

#droite {
    border-left: 3px solid black;
    margin-right: 1%;
}

aside {
    display: inline-block;
    flex: 20%;
    height: 100%;
    box-shadow: #00000021 0px 20px 20px 3px;
    margin-top: 2%;
}

h1 {
    font-size: 300%;
    width: 100%;
    box-shadow: #0000004a 0px 12px 14px 0px;
}

h2 {
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 200%;
    box-shadow: #0000004a 0px 5px 14px 0px;
}

h3 {
    font-size: 170%;
    font-weight: unset;
    width: 99.9%;
    position: sticky;
    top: 0px;
    box-shadow: #0000004a 0px 12px 14px 0px;
    background-color: #ffffffe0;
    color: black;
}

h1, h3{
    padding: 1% 0%;
}

h1, h2 {
    color: white;
    background-color: black;
}

h1, h2, h3 {
    text-shadow:none;
}

ul {
    list-style-type: none;
}

.tri li {
    text-align: left;
}

.filtre li {
    text-align: right;
}

li {
    padding: 7% 0%;
    display: flex;
    align-items: center;
    user-select: none;
}

li label {
    font-size: 110%;
    flex: 90%
}

li * {
    cursor: pointer;
}

input[type="checkbox"] {
    flex: 10%;
    margin-top: 1%;
}

.tri li input {
    margin-right: 3%;
}

.filtre li input {
    margin-left: 3%;
}

a:hover div {
    background-color: #fffdfd85;
}

a:visited div span {
    color: white;
}

a div span {
    color: white;
}

a {
    text-decoration: none;
}

@media (max-width:900px) {
    body {
        font-size: smaller;
        background-size: 100% 200%;
    }
    #page {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    main {
        order: 1;
        flex: 100%;
        max-width: 100%;
        margin-bottom: 8vh;
    }
    #gauche {
        order: 2;
    }
    #droite {
        order: 3;
    }
    aside {
        flex: 40%;
        max-width: 40%;
        margin-bottom: 2vh;
        height: auto;
    }
    #divRecherche img {
        width: 8%;
    }
}

@media (max-width:500px) {
    body{
        font-size: x-small;
    }
}