@font-face {
    font-family: 'Naruto';
    font-style: normal;
    font-weight: normal;
    src: local('Mha'), url('../Resources/Font/mhaFont.otf') format('otf');
}

body {
    text-align: center
}

header {
    font-weight: bold;
    font-size: 50pt;
}

main {
    width: 50vw;
    height: 100vh;
    display: inline-block;
}

aside {
    display: inline-block;
    width: 20vw;
}

#gauche {
    border-right: 1px solid black;
}

#droite {
    border-left: 1px solid black;
}

#page {
    margin-top: 5%;
}